body {
    background-color: rgb(255, 199, 64);
    font-family: "Open Sans", Arial;
  }
  
  form {
    line-height: 27px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  input[type="text"], input[type="number"] {
    min-height: 15px;
    border-radius: 5px;
    border:1px solid #cccccc;
  }
  
  input[type="radio"] {
    margin-left: 12px;
  }
  
  #main {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    height: 80vh;
    border-radius: 15px;
    margin: 2% 10%;
    overflow: auto;
  }
  
  #story {
    padding: 0 3%;
  }
  
  #top {
    background-color: rgb(255, 255, 255);
    margin: 2% 10%;
    border-radius: 15px;
  }
  
  #top img {
    display: block;
    width: 35%;
    margin: 0 auto;
  }
  
  .italics {
    font-style: italic;
  }
  
  .word {
    font-weight: bold;
    text-decoration: underline;
  }

  .main-form{
    display: inline-block;
    margin: 0 auto;
    width: 400px;
  
  }

  .main-input {
  
    text-align: start;


  }

  .main-input input{
    float: right;
    height: 22px;
  }
  
  .main-input select {
    margin-left: 20px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid black;
  }
.main-input-yes-no {
    margin-left: 40px;
    width: 380px;
    margin-bottom: 10px;
    display: inline-flex
}

  .submit {
    margin: 20px;
    text-align: center;
    width: 120px;
    height: 36px;
    background-color: coral;
    color: white;
    border: none;
    cursor: pointer;
    
  }
  .submit:hover {
    background-color: rgb(255, 199, 64);
  }

  @media only screen and (max-width: 1048px) {
    .main-form {
      font-size: 18px;
      width: 600px;
      height: 30px;
    }
    .main-input input {
      width: 300px;
      height: 25px;
    }
    #main {
      height: 900px;
    }
  }
  @media only screen and (max-width: 670px) {
    .main-form {
      
      width: 300px;
      height: 30px;
    }
    #main {
      height: 900px;
    }
  }


  